body{
    padding: 0;
    margin: 0;
}

.container{
    padding: 0;
    margin: 0;
    height: 100vh;
}

.header{
    background-color: lightgrey;
    padding: 0;
    margin: 0;
}

h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em
}

.main{
    text-align: center;
    margin: 2em;
}

#add-book-btn{
   border-radius: 10px;
   font-size: 1.5em;
}

.pop-up-form {
    display: none;
}
.pop-up-form--on{
    display: block;
}

.book-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(230, 173, 173);
    border: solid rebeccapurple 2px;
}
