body{
    padding: 0;
    margin: 0;
    background-color: #e8dfe0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #dab692;
    padding: 20px;
    margin: 0;
}

h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em
}

.main{
    text-align: center;
    margin: 2em;
}

#add-book-btn{
   border-radius: 10px;
   font-size: 1.5em;
}

.pop-up-form {
    display: none;
}
.pop-up-form--on{
    display: block;
}

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8A9EA7;
    height: 300px;
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form>field{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5em;
    padding-top: 20px;
}

#card-area{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
}

.card-container{
    display: grid;
    justify-items: center;
}

.card{
    background-color: #8A9EA7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-content: center;
    background-color: #8A9EA7;
    width: 300px;
    margin-top: 50px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-read{
    grid-column: 2;
    margin: auto;
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(1, 1, 1, 0.35) 0px 5px 15px;
    width: 100px;
    height: 30px;
    padding: 8px;
    background-color: #cdefc1;
}

.card-not-read{
    grid-column: 2;
    margin: auto;
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(1, 1, 1, 0.35) 0px 5px 15px;
    width: 100px;
    height: 30px;
    padding: 8px;
    background-color: #e8a5a5;
}

.remove-book{
    grid-column: 2;
    margin: auto;
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(1, 1, 1, 0.35) 0px 5px 15px;
    width: 100px;
    height: 30px;
    padding: 8px;
    background-color: #dab692;

}

#submit-btn{
    grid-column: 2;
    margin-left: auto;
    
    border-radius: 10px;
    border: 0;
    box-shadow: rgba(1, 1, 1, 0.35) 0px 5px 15px;
    width: 100px;
    height: 30px;
    padding: 8px;
    background-color: #dab692;
}
