body{
    padding: 0;
    margin: 0;
    background-color: #e8dfe0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
    padding: 0;
    margin: 0;
}

.header{
    background-color: #dab692;
    padding: 20px;
    margin: 0;

}

h1{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em
}

.main{
    text-align: center;
    margin: 2em;
}

#add-book-btn{
   border-radius: 10px;
   font-size: 1.5em;
}

.pop-up-form {
    display: none;
}
.pop-up-form--on{
    display: block;
}

.form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #8A9EA7;
    height: 300px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}

.form>field{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5em;
    padding-top: 20px;
}


.book-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(230, 173, 173);
    border: solid rebeccapurple 2px;
}
